@model IEnumerable<TestProject.Models.OrderViewModel>
@{
    ViewBag.Title = "Take order";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Music instrument</th>
            <th class="text-center">Music description</th>
            <th class="text-center">Price</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
                <tr>
                    <td class="text-center">@order.MusicInstrument.Name</td>
                    <td class="text-center">@order.MusicDescription</td>
                    <td class="text-center">@order.Price</td>
                    <td class="text-center">
                        @using (Html.BeginForm("TakeOrder", "Musician"))
                        {
                            @Html.Hidden("Id", order.Id);
                            @Html.Hidden("ClientId", order.ClientId);
                            @Html.Hidden("MusicInstrumentId", order.MusicInstrument.Id);
                            @Html.Hidden("MusicDescription", order.MusicDescription);
                            @Html.Hidden("Price", order.Price);
                            <input type="submit" class="btn btn-default" value="Take Order" />
                        }
                    </td>
                </tr>
        }
        </tbody>
</table>
